.global_container{
    margin:0;
    padding:0;
}

.nav_container ul{
   
    
   text-decoration:none;
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:transparent;
  
}
.wSkull{
    
}
.wInsta{
    
}
.wTwitter{
    
}
.wHam{
    
}


   
   
   
